body {
  scroll-behavior: smooth;
}

img#logo-navbar {
  width: 90px;
  // margin: 0;
  position: fixed;
}

.wrapper {
  text-align: center;
}

.bottomhome button {
  border-radius: 20px;
  padding: 20px;
}

img.ui.circular.image {
  border: 3px solid red;
  width: 13rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 6rem;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

p {
  text-align: justify;
}

#nav {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Major Mono Display', monospace !important;
  padding: 0 0 4px 0;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: disc;
}

img#here {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display: block;
}

section.home {
  height: 94vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

section.home div {
  width: 50%;
  width: 50%;
  flex-grow: 1;
  // border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  display: flex;
  padding-top: 30px;
  color: black;
}

img#home-logo {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  // width: 80%;
  width: 400px;
  border-bottom: 2px solid orange;
  padding-bottom: 60px;
  margin-top: 50px;
}

.home .image1 {
  display: grid;
}

.image1 h1, p, h2 {
  text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  margin: 0;

}

.wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  border-radius: 20px;
  padding: 20px;
  background-color: dodgerblue;
  color: white;
}

a {
  margin-left: 20rem;
}

.indirizzo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  font-size: 18px;
}

h1#approccio {
  margin-top: 40px;
}

.paragraph {
  text-align: center;
}

.line {
  border-bottom: 2px solid orange;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

h3#info-me {
  margin-top: 70px;
}

.story {
  text-align: center;
}

h2#me {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 80px;
  font-weight: 300;
}
